version: "3.4"

services:
    db:
      image: postgres:15.2-alpine
      restart: unless-stopped
      env_file:
          - ./.env
      environment:
          - PGDATA=/var/lib/postgresql/data/pgdata
      volumes:
          - ./volumes/db:/var/lib/postgresql/data/pgdata
      ports:
          - "5432:5432"

    backend:
      build: ./backend
      restart: unless-stopped
      env_file:
        - ./backend/docker.env
      ports:
        - "8000:8000"
      depends_on:
        - db

    frontend:
      build: ./frontend
      restart: unless-stopped
      env_file:
        - ./frontend/docker.env
      ports:
        - "3000:3000"
      volumes:
        - ./frontend:/usr/src/app
      depends_on:
        - backend

    # mock-server:
    #   build: ./mock
    #   restart: unless-stopped
    #   ports:
    #     - "3001:3001"
    #   volumes:
    #     - ./mock:/usr/src/app
    #   depends_on:
    #     - backend

    robot:
      build:
        context: ./python-server
        dockerfile: Dockerfile
      ports:
        - 8150:8150
      volumes:
        - ./python-server:/app
      networks:
      - fake-local-network
      - kafka-network
      depends_on:
        - kafka

    kafka:
      image: bitnami/kafka:latest
      platform: linux/arm64
      ports:
        - "9092:9092"
      networks:
        - kafka-network
      environment:
        - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
        - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
        - KAFKA_DELETE_TOPIC_ENABLE=true
        - ALLOW_PLAINTEXT_LISTENER=yes

    zookeeper:
      image: bitnami/zookeeper:latest
      platform: linux/arm64
      ports:
        - "2181:2181"
      networks:
        - kafka-network
      environment:
        - ALLOW_ANONYMOUS_LOGIN=yes

    kafdrop:
      image: obsidiandynamics/kafdrop:latest
      container_name: kafdrop
      networks:
      - kafka-network
      ports:
        - "9000:9000"
      environment:
        - KAFKA_BROKERCONNECT=kafka:9092
        - KAFKA_PROPERTIES_CONFLUENT_SUPPORT_METRICS_ENABLE=false
        - KAFKA_PROPERTIES_CONFLUENT_SUPPORT_CUSTOMER_ID=false
        - KAFKA_JVM_OPTS=-Xms16M -Xmx64M
      depends_on:
        - zookeeper
        - kafka


networks:
  fake-local-network:
    driver: bridge
    ipam:
      config:
        - subnet: "172.29.0.0/16"
  kafka-network:
    driver: bridge


    